{% extends "layout/base.html" %} {% block content %} 

<div class="col-md-12 mt-2">
    <div class="card bg-light">
        <div class="card-body">
            <p class="card-text">
                Kesimpulan: 
            </p>
        </div>
    </div>
</div>

<div class="col-md-12 mt-2">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <a href="https://news.detik.com/berita-jawa-timur/d-3898567/cerita-di-balik-perajin-topeng-ganongan-di-ponorogo">Cerita di Balik Perajin Topeng Ganongan di Ponorogo</a>
            </h5>
            <p class="card-text">Tak lengkap rasanya menyaksikan Reog Ponorogo tanpa Bujang Ganong. Tarian ini selalu ditunggu karena sosoknya
                digambarkan kocak sekaligus pandai bela diri.</p>
            <p>DETIKNEWS | Senin 05 Maret 2018, 09:54 WIB</p>
        </div>
    </div>
</div>
<div class="col-md-12 mt-2">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <a href="https://news.detik.com/berita-jawa-timur/d-3898454/ini-alasan-pemuda-di-kediri-aniaya-orang-gila">Ini Alasan Pemuda di Kediri Aniaya Orang Gila</a>
            </h5>
            <p class="card-text">Polisi sudah meminta keterangan MNR, pemuda yang menganiaya orang gila di Kediri. Penganiayaan dilakukan karena
                MNR merasa kesal dan sakit hati.</p>
            <p>DETIKNEWS | Senin 05 Maret 2018, 08:49 WIB</p>
        </div>
    </div>
</div>
{% endblock %}