{% comment %} file template global yang akan menjadi wadah bagi file template di view lainnya {% endcomment %}
<!DOCTYPE html>
<html lang="en">

<head>

    {% include "layout/head.html" %}

    <style>
        body .row {
            font-size: 0.8rem;
        }
    </style>

</head>

<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <h2>KLUSTER</h2>
            <form class="card p-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Masukkan kata kunci untuk berita wilayah Jawa Timur">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Cari</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-12 mt-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="https://news.detik.com/berita-jawa-timur/d-3898567/cerita-di-balik-perajin-topeng-ganongan-di-ponorogo">Cerita di Balik Perajin Topeng Ganongan di Ponorogo</a>
                        </h5>
                        <p class="card-text">Tak lengkap rasanya menyaksikan Reog Ponorogo tanpa Bujang Ganong. Tarian ini selalu ditunggu karena sosoknya digambarkan kocak sekaligus pandai bela diri.</p>
                        <p>DETIKNEWS | Senin 05 Maret 2018, 09:54 WIB</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="https://news.detik.com/berita-jawa-timur/d-3898454/ini-alasan-pemuda-di-kediri-aniaya-orang-gila">Ini Alasan Pemuda di Kediri Aniaya Orang Gila</a>
                        </h5>
                        <p class="card-text">Polisi sudah meminta keterangan MNR, pemuda yang menganiaya orang gila di Kediri. Penganiayaan dilakukan karena MNR merasa kesal dan sakit hati.</p>
                        <p>DETIKNEWS | Senin 05 Maret 2018, 08:49 WIB</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="https://news.detik.com/berita-jawa-timur/d-3898043/dukungan-kader-pks-jadi-semangat-gus-ipul-mengarungi-pilgub-2018">Dukungan Kader PKS Jadi Semangat Gus Ipul Mengarungi Pilgub 2018</a>
                        </h5>
                        <p class="card-text">Cagub Jatim Saifullah Yusuf mengapresiasi PKS Jatim yang telah mendukungnya dalam Pilgub Jatim 2018. Hal itu menjadi semangat tersendiri bagi Gus Ipul.</p>
                        <p>DETIKNEWS | Minggu 04 Maret 2018, 20:43 WIB</p>
                    </div>
                </div>
            </div>

            {% block content %} {% endblock %}
        </div>
        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2018-2025 Kluster</p>
            {% comment %}
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#">Privacy</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">Terms</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">Support</a>
                </li>
            </ul> {% endcomment %}
        </footer>
    </div>


    </div>
    <!-- /#wrapper -->

    {% include "layout/js.html" %} {% block inline_js %} {% endblock %}
</body>

</html>